<main>
    <h1 class="no-margin">Hi,</h1>
    <h1>I'm <span class="color-green">Darren</span></h1>
    <p>and my vision was to create the best sports bar in the country and I do believe I succeeded in that! Come and visit us to check it out yourself.</p>
    <p>I've always loved watching almost all kind of sports. My passion for quality beer and whiskey started when I was a senior in college. I started hosting sport parties but my neighbours quickly targeted me in the direction of opening my own place. </p>
</main>
