@use '../../../globals' as g;

footer {
    padding: 50px 0px 20px 0px;
    color: g.$color-light;
    width: 100%;
    background: linear-gradient(180deg, rgba(26,32,49,1) 0%, rgba(28,32,40,1) 20%);
    position: absolute;
    top: 100vh;

    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(26, 32, 49, 0) 30%, rgb(28, 32, 40) 100%);
        border-collapse: separate;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;

    * {
        z-index: 1;
    }
}

small {
    margin-bottom: 10px;
    text-align: justify;
}

a {
    margin-top: 20px;
    border: g.$color-light solid 2px;
    border-radius: 5px;
    padding: 5px 15px;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.2s linear;
    letter-spacing: 3px;

    &:hover {
        background-color: g.$color-light;
        transition: background-color 0.5s ease-in-out;
        color: g.$color-dark;
        transition: color 0.2s linear;
    }
}

@media only screen and (max-width: 1200px) {
    footer {
        position: initial;
        top: unset;
        bottom: 0;
        padding-top: 70px;

        &::after {
            content: '';
            position: initial;
            display: block;
            top: unset;
            bottom: 0;
            left: 0;
        }
    }

    div {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    footer {
        padding-top: 80px;
    }
    
    div {
        width: 60%;
    }
}
